[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloYSF
Comment=
Exec=sh -c "cd /home/pi/V7/;lxterminal --geometry=80x20 -e sudo sh ejecutar_solofusion.sh"
Icon=/home/pi/V7/SOLO_YSF.png
Path=/home/pi/V7
Terminal=true
StartupNotify=false
Name[es_ES]=Abrir solo FUSION
