[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V7;lxterminal --geometry=72x15 -e sudo sh ejecutar_YSF2DMR.sh'
Icon=/home/pi/V7/YSF2DMR.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=true
Name[es_ES]=Abrir YSF2DMR
Hidden=false
Comment[es_ES]=EA3EIZ
